.contact-us {
  background: #FFFFFF;
  color: #7B7B7B;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 400; }
  .contact-us__title {
    color: #2AA7CB;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 48px; }
  .contact-us__content {
    font-size: 15px; }
  .contact-us__link {
    text-decoration: underline; }
  .contact-us__input {
    margin-top: 10px;
    height: 36px; }
  .contact-us__ta {
    margin-top: 10px; }
  .contact-us__btn {
    border: none;
    outline: none;
    height: 40px;
    border-bottom: 1px solid #2AA7CB;
    background: #16808C;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 400; }

.latest-news {
  background: #F3F3F3;
  color: #7B7B7B;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-top: 80px; }
  .latest-news__title {
    color: #2AA7CB;
    font-size: 40px;
    font-weight: 300;
    margin-left: 15px;
    margin-top: 28px;
    margin-bottom: 24px; }
  .latest-news__post {
    margin-bottom: 35px; }
  .latest-news__subtitle {
    margin-top: 0;
    margin-bottom: 0; }
    .latest-news__subtitle a {
      text-decoration: none;
      color: #2AA7CB;
      font-size: 16px;
      font-weight: 400; }
  .latest-news__img {
    float: left;
    margin-right: 12px;
    margin-left: 30px; }
  .latest-news__content {
    color: #7B7B7B; }
